---
import type { PostListProps } from '@/types/index.type'
import Date from '@/components/shared/date.astro'

const { posts } = Astro.props as PostListProps
---

<div class="group space-y-0">
  {
    posts.map((post) => (
      <a href={`/${post.id}`} id={post.id} class="py-2 first:pt-0 last:pb-0 block">
        <div class="flex xs:flex-row xs:items-center xs:justify-between flex-col">
          <p class="font-medium" transition:name="post-title">
            {post.data.title}
          </p>
          <Date date={post.data.pubDate} context="list" />
        </div>
      </a>
    ))
  }
</div>

<style>
  a {
    transition: opacity 0.15s ease-out;
  }

  @media (hover: hover) and (pointer: fine) {
    div.group:hover a {
      opacity: 0.4;
    }

    div.group:hover a:hover {
      opacity: 1;
    }
  }
</style>
