---
import { Button } from '@/components/ui/button'

import { ToggleTheme } from '@/components/shared/react/toggle-theme'

import { Book } from 'lucide-react'
import { themeConfig } from '@/config'
---

<header class="flex items-center justify-between">
  <a href="/" aria-label="go to /">
    <h1 class="font-serif font-black text-foreground text-xl">Pleno</h1>
  </a>

  <div class="flex items-center gap-1">
    {themeConfig.general.themeToggle && <ToggleTheme client:only="react" />}
    <a href="/post" aria-label="go to /post">
      <Button
        size="icon"
        variant="ghost"
        aria-label="navigate to /post"
        className="cursor-pointer hover:bg-muted hover:text-foreground dark:hover:bg-muted dark:hover:text-foreground"
      >
        <Book className="" />
      </Button>
    </a>
  </div>
</header>
