---
import Avatar from '@/components/shared/react/avatar'
---

<div class="flex items-center gap-3">
  <Avatar client:load src="https://github.com/msafdev.png" alt="@msafdev" fallback="MS" />
  <div>
    <p class="text-sm !mb-0 !mt-0 text-foreground">Salman Alfarisi</p>
    <span class="text-xs !mb-0 !mt-0 text-muted-foreground">Product Engineer</span>
  </div>
</div>
