---
import { themeConfig } from '@/config'
import { getSortedFilteredPosts } from '@/utils/draft'

import GitHubCalendar from '@/components/shared/react/github-calendar'

import IndexLayout from '@/layouts/index-layout.astro'

import Content from '@/components/widget/content.astro'
---

<IndexLayout
  title={themeConfig.site.title}
  description={themeConfig.site.description}
>
  <Content slug="intro" />
  <main>
    <GitHubCalendar user="msafdev" client:load />
  </main>
  <Content slug="show" />
</IndexLayout>
