---
import { themeConfig } from '@/config'
import { getSortedFilteredPosts } from '@/utils/draft'

import List from '@/components/shared/list.astro'

import IndexLayout from '@/layouts/index-layout.astro'

import Content from '@/components/widget/content.astro'

const posts = await getSortedFilteredPosts()
---

<IndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <Content slug="about" />
  <main>
    <List posts={posts} />
  </main>
</IndexLayout>
