---
import RootLayout from '@/layouts/root-layout.astro'

import Footer from '@/components/widget/footer.astro'
import Header from '@/components/widget/header.astro'
import Meta from '@/components/widget/meta.astro'

const { title, description } = Astro.props
---

<RootLayout type="page">
  <Meta title={title} description={description} slot="head" />
  <div class="space-y-8 w-full max-w-lg">
    <div>
      <Header />
    </div>
    <div>
      <slot />
    </div>
    <div>
      <Footer />
    </div>
  </div>
</RootLayout>
